<ion-header [translucent]="true">
  <ion-toolbar dir="rtl">
    <ion-title>
      کاربران آنلاین
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
<ion-list>
  <ion-item-divider *ngFor="let user of list_of_online_users"  (click)="click(user)" >
  <ion-item>
    <ion-avatar slot="start">
      <img src="assets/icon/avatar.svg">
    </ion-avatar>
    <ion-label #userlabel id="username">{{user}}</ion-label>
  </ion-item>
  </ion-item-divider>
  </ion-list>
</ion-content>
