
<ion-content>
  <ion-slides pager="true">

    <!-- Slide 1 -->
    <ion-slide>
      <ion-text color="light">
        <div class="col-md-6" >
        <img src="assets/Logo/Mess.png" id="img3">
          <div class="neveshtes">
        <h1>سلااام</h1>
        <h2>به پیام رسان من خوش اومدی رفیق</h2>
        <p>این اپلیکیشن برای پروژه درس شبکه نوشته شده</p>
        <ion-button (click)="next()" fill="outline" >خب!</ion-button>
          </div>
        </div>
      </ion-text>

    </ion-slide>

    <!-- Slide 2 -->
    <ion-slide>
      <ion-content>
      <div class="col-md-6" id="img1">
        <img src="assets/Logo/second.png" class="img-responsive " id="img2"  >
        <ion-text class="col-md-6">
          <div class="neveshtes">
          <h1>:موارد پیاده سازی شده </h1>
          <p>چت خصوصی</p>
          <p>امکان دیدن کاربر های آنلاین</p>
          <p>ایجاد اتاق های چت مختلف</p>
          <p>فرستادن فایل</p>
          </div>
          <ion-button (click)="start()" fill="outline" >شروع</ion-button>
        </ion-text>
      </div>

      </ion-content>
    </ion-slide>

  </ion-slides>
</ion-content>
